{% load markdownify %}
{{'Some *test* [link](#)'|markdownify }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'home' %}">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Log</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                {%if user.is_authenticated%}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>completed</th>
                                <tr>
                                </thead>
                                <tbody>
                                    {%for task in task_list%}
                                        <tr>
                                            <td>{{task.name}}</td>
                                            <td>{{task.start_date}}</td>
                                            <td>{{task.due_date}}</td>
                                            {% comment %} {%if task.is_complete == True%}
                        <td>Done</td>
                        {%else%} {% endcomment %}
                                            <td>{%if task.is_complete == False%}
                                                <form method="post" action="{% url 'complete_tasks' task.pk %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="is_complete" value="True">
                                                    <button>Complete</button>
                                                </form>
                                            {%else%} Done {%endif%}
                                            </td>
                                            {% comment %} {%endif%} {% endcomment %}

                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                {%else%}
                    <p>You have not tasks</p>
                {%endif%}
            </div>
        </main>
    </body>
</html>