{% load markdownify %}
{{'Some *test* [link](#)'|markdownify }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'home' %}">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Create a new task</h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_table}}
                    {% comment %} <input type = "text" name = "name">
                    <input type = "text" name = "start_date">
                    <input type = "text" name = "due_date">
                    <select name = "projects">
                        <option value="1">Project Alpha</option>
                        <option value="2">Project Beta</option>
                    </select>
                    <select name = "assignee">
                        <option value="1">Fyn</option>
                        <option value="2">josh</option>
                    </select> {% endcomment %}
                    <button>Create</button>
                    </form
                </div>
            </main>
        </body>
    </html>