{% load markdownify %}
{{'Some *test* [link](#)'|markdownify }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'home' %}">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div><h1> My Projects</h1>
                {%if project|length is 0 %}
                    <p>You are not assigned to any projects</p>

                {%else%}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for project in project%}
                                <tr>
                                    <td><a href = {% url "show_project" project.pk %} >{{project.name}}</a></td>

                                    <td>{{project.tasks.all|length}}

                                    </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                {%endif%}
            </div>
        </main>
        <p><a href={% url 'create_project' %}>Create project</a></p>
    </body>
</html>
