{% load markdownify %}
{{'Some *test* [link](#)'|markdownify }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'home' %}">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                {%if projects_list|length is not 0 %}
                    {% for project in projects_list %}
                        <h1>{{project.name}}</h1>
                        {{ project.description|markdownify }}{{project.description}}{{ project.description|markdownify }}
                    {%endfor%}
                    <h2> Tasks</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for task in tasks_list%}
                                <tr>

                                    <td>{{task.name}}</td>
                                    <td>{{task.assignee}}</td>
                                    <td>{{task.start_date}}</td>
                                    <td>{{task.due_date}}</td>
                                    <td>{{task.is_complete}}</td>

                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                {%else%}
                    <p>This project has no tasks</p>
                {%endif%}
            </div>
            <p><a href={% url 'create_task' %}>Create task</a></p>
        </main>
    </body>
</html>